\name{Richard Dallaway}
\signature{Richard Dallaway}
\extension{3072}
\username{richardd}
\hostname{cogs.susx.ac.uk}
% \longindentation=0pt

% Deviance
\def\directlinename{Extension}
\directline{3072}

%\headrulewidth0.5pt
%\textwidth=14.5cm
%\addressanddatewidth=\textwidth
%\parskip=5mm
%\headrulesep=5mm
%\headtextsep=1cm
%\addressrulesep=2cm

%\international
